@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    background-color: bisque;
}

header {

    background-color: gray;
    padding: 0px;
}

h1 {
    text-align: center;
    padding: 10px;
}

span#burger {
    background-color: #323232;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

span#burger:hover{
    color: black ;
    background-color: white;
    cursor: pointer;
}

menu {
    text-align: center;
    display: none;
}

li {

    list-style-type: none;
    border: 1px solid #d6d6d6;
}

menu>ul>li>a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #505050;
}

menu>ul>li>a:hover {
    background-color: #ffffff;
    color: black;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article>h2 {
    padding-bottom: 20px;
}

article>p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}