@charset "UTF-8";

.container{
    border: 3px solid #0c72d2 ;
    display:grid;
  /*  height: 250px;*/
    grid-template:repeat(3, 100px) / repeat(3, auto) ;
    place-items: start center;
    place-content: space-around end;
     gap: 5px;

.item{
    border: 2px solid #fc5420;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
}