@charset "UTF-8";

@media (min-width: 568px) and (max-width: 924px){
   header h1{
        font-size: 2.5em;
        text-align: justify;
    }

    header nav{
        flex-flow: row wrap;
        justify-content: flex-start;
    }
}

@media  (min-width: 925px) {
    header{
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    header h1{
        font-size: 3em;
        text-align: justify;
    }

    header nav{
        flex-flow: row wrap;
        gap: 10px;
        justify-content: flex-start;
    }
    
}